<div class="col-12 col-lg-12">
    <div class="card flex-fill">
        <div class="card-header">

            <h5 class="card-title mb-0"><br><i class="fa fa-calendar" aria-hidden="true"></i> Lista de Citas </h5>
        </div>
        <table class="table table-hover my-0">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Finalizacion</th>
                    <th>Barbero</th>




                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let cita of citas">
                    <td>{{cita.cliente}}</td>

                    <td>{{cita.horaInicio}}</td>
                    <td>{{cita.horaFin}}</td>
                    <td>{{cita.barbero}}</td>

                    <td>

                  </td>

                  <a role="button" [routerLink]="['editar',cita.id]"><button><i  class=" fa fa-pencil" aria-hidden="true"></i></button>
                  </a>
                <a role="button" (click)="Eliminar(cita.id)">
                  <button><i class=" fa fa-trash" aria-hidden="true"></i></button>
                </a>
                    <!-- <td class="d-none d-xl-table-cell">{{cita.fechaCreacion | date:'yyyy-MM-dd'}}</td> -->



                </tr>

            </tbody>
        </table>
        <div class="container">

            <a [routerLink]="['nuevo']" class="btn btn-success pull-right">
        Registrar
      </a>

        </div>
    </div>
</div>
