<div class="col-12 col-lg-12">
    <div class="card flex-fill">
        <div class="card-header">
            <h5 class="card-title mb-0">Registrar Citas</h5>
        </div>
        <div class="container">
            <form [formGroup]="formularioCitas" (ngSubmit)="registrarCita()">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group ">
                            <label for="nombreClub">Hora Cita</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Hora" [class.is-invalid]="HoraNovalido">
                                <option selected value="">Seleccione Hora Cita</option>
                                <option [value]="hora.id" *ngFor="let hora of horas">{{hora.hora}}</option>
                            </select>
                            <small *ngIf="HoraNovalido" class="text-danger">Escoja una hora</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="direccionClub">Fecha Cita</label>
                            <input type="date" class="form-control has-danger" placeholder="30/12/2022" formControlName="Fecha" [class.is-invalid]="FechaNovalido">
                            <small *ngIf="FechaNovalido" class="text-danger">Escoja una opcion</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="direccionClub">Sede</label>
                            <select class="form-select" aria-label="Default select example" formControlName="Sede" [class.is-invalid]="SedeNovalido">
                                <option selected value="">Seleccione Sede</option>
                                <option [value]="sede.direccion" *ngFor="let sede of sedes">{{sede.nombre}}</option>
                            </select>
                            <small *ngIf="SedeNovalido" class="text-danger">Escoja una opcion</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="direccionClub">Cliente</label>
                            <select class="form-select" aria-label="Default select example" formControlName="IdUsuarioAgenda" [class.is-invalid]="IdUsuarioAgendaNovalido">
                                <option selected value="">Seleccione Cliente</option>
                                <option [value]="cliente.id" *ngFor="let cliente of clientes">{{ cliente.nombre + " " + cliente.apellido }}</option>
                            </select>
                            <small *ngIf="IdUsuarioAgendaNovalido" class="text-danger">Escoja una opcion</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="direccionClub">Barbero</label>
                            <select class="form-select" aria-label="Default select example" formControlName="IdUsuarioAtiende" [class.is-invalid]="IdUsuarioAtiendeNovalido">
                                <option selected value="">Seleccione Barbero</option>
                                <option [value]="barbero.id" *ngFor="let barbero of barberos">{{ barbero.nombre + " " + barbero.apellido }}</option>
                            </select>
                            <small *ngIf="IdUsuarioAtiendeNovalido" class="text-danger">Escoja una opcion</small>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label for="direccionClub">Estado</label>
                          <select class="form-select" aria-label="Default select example" formControlName="IdEstado" [class.is-invalid]="IdEstadoNovalido">
                              <option selected value="">Seleccione Estado</option>
                              <option [value]="estado.id" *ngFor="let estado of estados">{{ estado.nombre }}</option>
                          </select>
                          <small *ngIf="IdEstadoNovalido" class="text-danger">Escoja una opcion</small>
                      </div>
                  </div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-3">
                    <button type="submit" [disabled]="formularioCitas.invalid" class="btn waves-effect waves-light btn-block btn-info pull-right">{{idCitaActualizar === null ?'Registrar':'Actualizar'}}</button>
                </div>
                <div class="col-lg-3">
                  <button type="button" class="btn waves-effect waves-light btn-block btn-info pull-left" (click)="volver()">Volver

                  </button>
              </div>
              </div>
            </form>
        </div>
    </div>
</div>

<!-- <hr>
<pre>
estado del formu:{{formularioServicio.valid}}
<br>
Status:{{formularioServicio.status}}
</pre>

<pre>
{{formularioServicio.value  |json}}
</pre> -->
